* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    width: 100%;
}

header,
nav,
main,
section,
aside,
footer {
    display: block;
    width: 100%;
}

h1.topnav-heading {
    display: inline-block;
    width: 20%;
    font-family: "Source Serif Pro", serif;
    font-size: 28px;
    line-height: 35px;
    color: #fff;
    margin: auto 30px;
}

div.topnav {
    width: 100%;
    background-color: #B1040E;
    font-size: 18px;
    line-height: 29px;
    display: flex;
}

div.topnav ul {
    list-style: none;
    width: 80%;
    margin: auto 30px;
    display: flex;
    justify-content: flex-end;
}

div.topnav ul li {
    display: inline-block;
}

div.topnav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 12px;

}

div.topnav ul li a:hover {
    background-color: #8C1515
}